*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{

    color: #ffffff;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg,#3a4372 0%, #434f8f 50%, #0a0e27 100%);
    min-height: 100vh;
    overflow-x: hidden;
    
}

.sidebar {
    width: 250px;
    background: #111a2c;
    height: 100vh;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #24d88d;
    font-size: 22px;
    font-weight: bold;
}

.logo i {
    font-size: 30px;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 10px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #bfc7d5;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.menu li i {
    font-size: 18px;
}

.menu li:hover {
    background: #1f2a44;
    transform: translateX(5px);
    transition: 0.3s ;
}

.menu li.active {
    background: #1dd98e22;
    color: #1dd98e;
}
.menu span {
    font-size: 16px;
    font-weight: 700;
}
.container{
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    background: rgba(13, 17, 40, 0.9);
   
   
}
.headerContent h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 11px;
}
.headerContent p{
    font-size: 17px;
    color: #9ca3c4;
    line-height: 1.6;
    max-width: 880px;
   
}
.headerContent p::before{
    content: '';
    display: inline-block;
    margin-right: 8px;
    height: 10px;
    width: 10px;
    background: #00ff88;
    border-radius: 50%;
}
.containerCards{
     margin-top: 30px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 24px;
        
}
.card{
    position: relative;
    overflow: hidden;
        background-color: #0d1128;
        padding: 32px;
         border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.card:before{
    content: '';
    position:absolute;
    height: 2px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, transparent, #00ff88, #00d4ff, transparent);
    transform: translateX(100%);
    transition: transform 0.5s ease;
    
}
.card:hover::before{
    transform: translateX(-100%);
}
.card:hover{
    transform: translateY(-10px);
    border-color:  #00ff88;
    box-shadow: 0 20px 60px rgba(0, 255, 136, 0.2);
}
.cardheader{
    display:flex;
    gap:20px;
    align-items: center;
}
.icone{
    border-radius: 16px;
    width: 57px;
    height: 57px;
     background: linear-gradient(135deg, rgba(0, 255, 136, 0.1), rgba(0, 212, 255, 0.1));
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone i{
    color: #00ff88;
    font-size: 28px;
}
.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
.progresso{
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.progresso svg{
    position: absolute;
    transform: rotate(-90deg);
}
.progresso circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.container_valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.valor{
    font-size: 32px;
    font-weight: 700;
}
.simbolo{
    font-size: 20px;
    color: #9ca3c4;
}
.containerResumo{
    margin-top: 18px;
    display: flex;
     width: 100%;
    align-items: center;
     border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.resul{
    margin-top: 22px;
     background-color: rgba(0, 255, 136, 0.2);
     padding: 6px 12px;
     border-radius: 10px;
}
.resul p{
     color:#00ff88;
     font-size: 12px;
     font-weight: 600;
}
